---
layout: "null"
---

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

body {
    background-color: rgb(24, 26, 27);
    color: rgb(160, 152, 139);
}

.w3-sidebar {
    background-color: rgb(24, 26, 27);
}